.vscode
build
CMakeLists.txt.user
*.autosave

CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
Makefile
cmake_install.cmake

examples/file-server.o
examples/simple-client.o
examples/simple-server.o

libpiper.so
libpiper.so.*

tests/basic
tests/cmake_install.cmake
tests/url-parsing
tests/url-resolution